/**
 * ESUI (Enterprise Simple UI)
 * Copyright 2013 Baidu Inc. All rights reserved.
 *
 * @file åœ°åŸŸé€‰æ‹©æ ·å¼
 * @author dbear
 */

.state-hidden {
  display: none !important;
}
.ui-region {
  display: inline-block;
  margin: 0;
  padding: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.ui-region-shadow {
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}
.ui-region-country-check {
  padding: 0.5em;
  background: #f6f6f6;
  color: #666666;
}
.ui-region-region-box0 {
  padding: 0 0.5em;
}
.ui-region-region-box1 {
  padding: 0 0.5em;
  background: #fbfbfb;
}
.ui-region-region-check,
.ui-region-province-box {
  float: left;
}
.ui-region-region-check {
  width: 7em;
  padding: 0.5em 0;
}
.ui-region-text {
  position: relative;
  padding: 0.5em 0 0.5em 0.5em;
  float: left;
}
.ui-region-text-over {
  background: #fffaee;
  -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
}
.ui-region-province-box {
  width: 40em;
}
.ui-region-province-item {
  width: 8em;
  float: left;
}
.ui-region-locator {
  float: left;
}
.ui-region-locator b {
  display: block;
  padding: 0;
  margin: 0.6em 0 0 0;
  line-height: 1.2;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  background: #70ccc0;
  color: #ffffff;
}
.ui-region-city-box {
  position: absolute;
  padding: 0.5em;
  z-index: 998;
  background: #fffaee;
  -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
}
.ui-region-city-box td {
  white-space: nowrap;
}
.ui-region-city {
  padding: 0.1em 0.5em;
}
.ui-region-single {
  margin: 0;
  padding: 0;
  width: auto;
  border: none;
}